// Colors
//================================================================================
// text colors
$color__font: rgb(65,64,66);
$color__header: rgb(34,34,34);

// color pallete
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$yellow: rgb(255,208,2);
$light-grey: rgb(207,209,210);
$dark-grey: rgb(128,128,131);

// Typography
//================================================================================
$font-size__base: 16;
// The default font family.
$font-family__base: sans-serif !default;
// Header sizes
$h1-font-size: 2    * $font-size__base !default;
$h2-font-size: 1.5  * $font-size__base !default;
$h3-font-size: 1.17 * $font-size__base !default;
$h4-font-size: 1    * $font-size__base !default;
$h5-font-size: 0.83 * $font-size__base !default;
$h6-font-size: 0.67 * $font-size__base !default;

// Layout
//================================================================================
$gutter: 1em;