// Layout
//================================================================================
$susy: (
  global-box-sizing: border-box,
  columns: 12,
  gutters: 0,
  gutter-position: inside,
);
$gutter: 0.5em;
$section-bottom-margin: 1em;
$aside-width: span(3);
// Colors
//================================================================================
$base-background: #fff;
$base-font-color: #414042;

$main-color: #ffd002;

$secondary-color: #808083;
$complementary-color: #231f20;
// Typography
//================================================================================
$base-font-size: 18px;
$base-font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
// Breakpoints
//================================================================================
$bp-base: 0em;
$bp-mobile-1:   20.000em; // 320px
$bp-mobile-2:   30.000em; // 480px
$bp-tab-1:      40.625em; // 600px
$bp-tab-2:      48.000em; // 768px
$bp-tab-3:      64.000em; // 1024px
$bp-desk-1:     80.000em; // 1280px