/*---------------------------------------------------------
 * Fonts
---------------------------------------------------------*/
.averin-light {
  font-family:'Avenir Next W01 Light', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.avenir-regular {
  font-family:'AvenirNextLTW01-Regular', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.avenir-medium {
  font-family:'AvenirNextLTW01-Medium', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.avenir-heavy {
  font-family:'AvenirNextLTW01-Heavy', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.avenir-bold {
  font-family:'Avenir Next LT W01 Bold', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.baskerville-italic {
  font-family:'Baskerville W01 Italic', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.baskerville-medium {
  font-family:'BaskervilleW01-MediumIt 705696', Arial, "Helvetica Neue", Helvetica, sans-serif;
}