/* Footer
================================================================================*/
.body__footer {
	background-color: $complementary-color;
	color: #fff;
	margin-top: 4.5em;
	a {
		color: #fff;
		text-decoration: none;
	}
	.body__content {
		padding: 3em 0.5em 2em;
	}
}