/* Layout
===============================================================================*/
.body__content {
    @include container(1400px);
    //background-color: #00f;
    position: relative;
}
main {
    @include span(12);
    padding: 0 $gutter;
    margin-bottom: $section-bottom-margin;
    @extend %clearfix;
    //background-color: #ccc;
}
aside {
    @include span(3);
    padding: 0 $gutter;
    //background-color: #0ff;
    @extend %clearfix;
    @include media-query($bp-base) {
        @include span(12);
        margin-bottom: $section-bottom-margin;
    }
    @include media-query($bp-desk-1) {
        @include span(3);
    }
}
main.sidebar__one {
    //background-color: #ccc;
    @include media-query($bp-base) {
        @include span(12);
    }
    @include media-query($bp-desk-1) {
        @include span(9);
    }
}
main.sidebar__two{
    @include media-query($bp-base) {
        @include span(12);
        float: none;
    }
    @include media-query($bp-tab-3) {
        @include span(6);
        position: absolute;
        left: 0px;
        margin-left: $aside-width;
    }
}
main .columns__two{
    //background-color: #0ff;
    @include media-query($bp-base) {
        @include span(12);
        margin-bottom: $section-bottom-margin;
        float: none;
        &:first-of-type{
            padding-right: 0;
        }
        &:last-of-type{
            padding-left: 0;
        }
    }
    @include media-query($bp-tab-3) {
        @include span(6);
        margin-bottom: 0;
        &:first-of-type{
            padding-right: $gutter;
        }
        &:last-of-type{
            padding-left: $gutter;
        }
    }
}
main .columns__three{
    //background-color: #0ff;
    @include media-query($bp-base) {
        @include span(12);
        margin-bottom: $section-bottom-margin;
        float: none;
        &:first-of-type{
            padding-right: 0;
        }
        &:last-of-type{
            padding-left: 0;
        }
    }
    @include media-query($bp-tab-3) {
        @include span(4);
        margin-bottom: 0;
        &:first-of-type{
            padding-right: ($gutter * 2);
        }
        &:last-of-type{
            padding-left: ($gutter * 2);
        }
    }
}
aside.aside__left {
    @include media-query($bp-base) {
        @include span(12);
        float: none;
    }
    @include media-query($bp-tab-3) {
        @include span(3);
        float: left;
    }
}
aside.aside__right {
    @include media-query($bp-base) {
        @include span(12);
        float: none;
    }
    @include media-query($bp-tab-3) {
        @include span(3);
        float: right;
    }
}