/* Layout
===============================================================================*/
.body__content {
    @include container(1300px);
    position: relative;
    overflow: hidden;
    padding: 0 0.5em;
}
.three-col {
	width: 33%;
	float: left;
}