/* Pages
================================================================================*/
.view__full {
 	display: block;
 	overflow: hidden;
 	margin: 0 auto;
	width: 423px;
	transition: opacity 2s ease;
 	@include media-query(880px) {
		width: 846px;
	}
	@include media-query(1302px) {
		width: 100%;
	}
 	
}
.view__mobile {
	display: none;
	transition: opacity 2s ease;
}
.view__toggle {
	max-width: 320px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
	margin-bottom: 1.5em;
	display: block;
	@include media-query(768px) {
		display: none;
	}
}
.view__choose {
	height: 49px;
	width: 150px;
	color: #fff;
	text-transform: uppercase;
	text-align: right;
	padding-left: 32px;
	padding-right: 10px;
	font-size:80%;
	float: left;
	font-weight: bold;
	line-height: 3.5em;
	background-color: $complementary-color;
	background-position: 10px 8px;
	background-repeat: no-repeat;
	&:first-child {
		margin-right: 5px;
	}
	&.view__picture {
		background-image: url(images/photo-view.png);
	}
	&.view__list {
		background-image: url(images/list-view.png);
	}
	&.active {
		background-color: #cfd1d2;
	}
	&:hover {
		cursor: pointer;
	}
}
.list__item {
	text-align: left;
	margin: 1em 0;
	a {
		color: $base-font-color;
		text-decoration: none;
	}
}
.intro {
	width: 100%;
	margin: 0;
	text-align: center;
	line-height: 1.8em;
	font-size: 1.3em;
	@include media-query(600px) {
        width: 50%;
		margin: 0 auto;
    }
}
.contact__link {
	width: 100%;
	background-color: $main-color;
	padding: 1em 0;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	position: relative;
	a {
		color: $base-font-color;
		text-decoration: none;
		position: absolute;
		display: block;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
	}
	&.thumb {
		max-width: 423px;
		max-height: 423px;
		position: relative;
		padding: 0.5em;
		font-weight: bold;
		text-align: center;
		font-size: 1.5em;
		line-height: 1em;
		background-color: $secondary-color;
		color: #fff;
		img {
			width: 100%;
			height: auto;
		}
	}
}
.gallery {
	margin-top: 5em;
	text-align: center;
	overflow: hidden;
}
.gallery__item {
	width: 423px;
	max-width: 100%;
	height: auto;
	position: relative;
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
	line-height: 1em;
	@include media-query(424px) {
		width: 423px;
		max-width: none;
		height: 423px;
	}
	img {
		width: 100%;
		height: auto;
	}
	.thumbnail {
		position: relative;
		z-index: 10;
	}
	.overlay {
		position: absolute;
		z-index: 20;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		padding-top: 4em;
		background-color: $main-color;
		opacity: 0;
		transition: opacity 0.2s ease;
		@include media-query(424px) {
			padding-top: 4.5em;
		}
		&:hover {
			opacity: 1;
			transition: opacity 0.2s ease;
		}
		a {
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
		}
		.name,
		.cares-text {
			color: #fff;
		}
		.care {
			padding-top: 1.5em;
			font-size: 1.3em;
		}
	}
	&.link {
		.overlay {
			background-color: $secondary-color;
			opacity: 1;
			font-weight: bold;
			text-align: center;
			font-size: 1.5em;
			line-height: 1em;
			color: #fff;
			padding-top: 3.5em;
			@include media-query(424px) {
				padding-top: 4em;
			}
		}
	}
}
